<h3 style="text-align: center">CRUD Operations</h3>

<mat-card class="card">
  <mat-card-title> Crud APP </mat-card-title>
  <mat-card-subtitle *ngIf="!selectedItem">Add New Item</mat-card-subtitle>
  <mat-card-subtitle *ngIf="selectedItem">Edit Item</mat-card-subtitle>
  <div class="form">
    <mat-form-field class="form-width">
      <mat-label>Name</mat-label>
      <input
        matInput
        *ngIf="!selectedItem"
        [(ngModel)]="newItem.name"
        placeholder="Name"
      />
      <input
        matInput
        *ngIf="selectedItem"
        [(ngModel)]="selectedItem.name"
        placeholder="Name"
      />
    </mat-form-field>

    <mat-form-field class="form-width">
      <mat-label>Description</mat-label>
      <textarea
        *ngIf="!selectedItem"
        matInput
        [(ngModel)]="newItem.description"
        placeholder="Description"
      ></textarea>
      <textarea
        *ngIf="selectedItem"
        matInput
        [(ngModel)]="selectedItem.description"
        placeholder="Description"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button *ngIf="!selectedItem" (click)="addItem()">
      Add
    </button>
    <button mat-raised-button *ngIf="selectedItem" (click)="updateItem()">
      Update
    </button>
  </div>
</mat-card>

<hr>

<table>
  <h2 class="table_header">Crud Details</h2>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of items; let i = index">
    <td>{{ i }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>
    <td>
      <button mat-raised-button (click)="deleteItem(item.id)">Delete</button>
      <button mat-raised-button (click)="selectItem(item)">Edit</button>
    </td>
  </tr>
</table>
